@* Generator: MvcView GeneratePrettyNames: true *@
@model Advertise.Core.Models.UserSetting.UserSettingViewModel
<div class="comment-wrap-each">
    <p>@Model.Language</p>
    <p>@Model.Theme</p>
    <p>@Model.UserLastName</p>
</div>
<hr class="line-separator">