@* Generator: MvcView GeneratePrettyNames: true *@
<div class="comment-wrap comment-reply">
    <textarea id="commentBody" name="commentBody" placeholder="@Admin.PrivateConversation" class="tooltipster" title="@Admin.PrivateConversation" data-val="true" data-val-required="@Admin.RequiredExplain"></textarea>
    <span class="field-validation-error" data-valmsg-for="commentBody" data-valmsg-replace="true"></span>
    <button id="btnSendConversation" class="button primary" data-on-click="ajaxSendCompanyConversation" >@Admin.Send</button>
</div>
