@* Generator: MvcView GeneratePrettyNames: true *@
@{
    Layout = MVC.Shared.Views.SiteLayout.Public._PublicLayout;
    ViewBag.Title = Admin.SendActivationLink;
}
<div class="mp-wrapper">
    <div class="mp-container">
        <h1 class="mp-header mp-msg">
            <i class="fa fa-check-square"></i>
            <span class="mp-msg">@Admin.SendActivationLink</span>
        </h1>
        <h2 class="mp-paragraph">
            <i class="fa fa-exclamation-circle mp-icon"></i>
            <span>@Admin.MessageSendingAccountActivationEmail</span>
        </h2>
    </div>
</div>