@* Generator: MvcView GeneratePrettyNames: true *@
@{
    Layout = MVC.Shared.Views.SiteLayout.Public._PublicLayout;
    ViewBag.Title = Admin.TemporaryLockout;
}
<div class="mp-wrapper">
    <div class="mp-container">
        <h1 class="mp-header mp-wrn">
            <i class="fa fa-warning"></i>
            <span class="mp-wrn">@Admin.Warning! @Admin.TemporaryLockout</span>
        </h1>
        <h2 class="mp-paragraph">
            <i class="fa fa-exclamation-circle mp-icon"></i>
            <span>@Admin.WarningAccountLockout</span>
        </h2>
    </div>
</div>