@* Generator: MvcView GeneratePrettyNames: true *@
<div class="catalogExtra">
    <div class="input-container">
        <label for="ProductBulks_*_.SecondHandCode" class="rl-label">
            <span>@Admin.Code</span>
        </label>
        <input type="text" id="ProductBulks_*_.SecondHandCode" name="ProductBulks[*].SecondHandCode" value=""/>
    </div>

    <div class="input-container">
        <label for="ProductBulks_*_.Description" class="rl-label">
            <span>@Admin.Description</span>
        </label>
        <textarea type="text" id="ProductBulks_*_.Description" name="ProductBulks[*].Description" value=""></textarea>
    </div>
</div>