@* Generator: MvcView GeneratePrettyNames: true *@
@{
    Layout = MVC.Shared.Views.SiteLayout.Public._PublicLayout;
    ViewBag.Title = Admin.PageNotFound;
}
<div class="mp-wrapper">
    <div class="mp-container">
        <h1 class="mp-header mp-err">
            <i class="fa fa-exclamation-triangle"></i>
            <span class="mp-err">@Admin.ErrorNotFound</span>
        </h1>
        <h2 class="mp-paragraph">
            <i class="fa fa-exclamation-circle mp-icon"></i>
            <span>@Admin.ErrorNotFoundReason</span>
        </h2>
    </div>
</div>