@* Generator: MvcHelper GeneratePrettyNames: true *@
<div class="view-types-wrapper">
    <div class="grid-view-holder tooltipster" title="@Admin.ListView" data-action="renderView" data-event="click" data-param="grid">
        <i class="fa fa-th-list fa-flip-horizontal"></i>
    </div>
    <div class="item-view-holder tooltipster" title="@Admin.GridView" data-on-click="renderView" data-param="item">
        <i class="fa fa-th"></i>
    </div>
</div>
