@* Generator: MvcView GeneratePrettyNames: true *@
@{
    Layout = MVC.Shared.Views.SiteLayout.Public._PublicLayout;
    ViewBag.Title = Admin.BuyAndSell;
}
<div class="section-wrap">
    <div class="section overflowable">
        <div class="headline pages-headline simple primary">
            <h1>
                <i class="fa fa-cc-mastercard"></i> 
                @Admin.BuyAndSell
            </h1>
        </div>
        <div class="pages-container">
            <div class="pages-cont-wrap">
                <div class="pages-conts updating-section">
                    <p>
                        <i class="fa fa-gear fa-spin fa-fw"></i>
                        @Admin.MessageSectionUpdating
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>