@* Generator: MvcView GeneratePrettyNames: true *@
@{
    Layout = MVC.Shared.Views.SiteLayout.Public._PublicLayout;
    ViewBag.Title = Admin.ContactUs;
}
<div class="section-wrap">
    <div class="section overflowable">
        <div class="headline pages-headline simple primary">
            <h1>
                <i class="fa fa-envelope-square"></i>
                 @Admin.ContactUs
            </h1>
        </div>
        <div class="pages-container">
            <div class="pages-cont-wrap">
                <div class="pages-conts">
                    <p class="contact-p">تیم نویناک بی صبرانه منتظر شنیدن نظرات و پیشنهادات شماست!</p>
                    <p class="contact-p">لطفا در صورت وجود هر سوال یا مشکلی با بخش پشتیبانی ما تماس بگیرید.</p>
                    <p class="contact-p">7 روز هفته از ساعت 8:00 الی 22:00</p>
                    <div class="contact-info-wrapper">
                        <p class="contact-info">
                            <i class="fa fa-phone-square"></i>
                             +98 21 66489436
                        </p>
                        <p class="contact-info">
                            <i class="fa fa-envelope-square"></i>
                             info@novinak.com
                        </p>
                        <p class="contact-info">
                            <a href="https://instagram.com/novinak_official" target="_blank">
                                <i class="fa fa-instagram"></i>
                                 @@novinak_official
                            </a>
                        </p>
                        <p class="contact-info">
                            <a href="https://t.me/novinak_official" target="_blank">
                                <i class="fa fa-telegram"></i>
                                @@novinak_official
                            </a>
                        </p>
                    </div>
                    <p class="contact-p">
                        <i class="fa fa-map-marker"></i>
                         تهران - میدان انقلاب - خیابان کارگر جنوبی - کوچه بختیاری - پلاک 5 - واحد 2
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>