@* Generator: MvcView GeneratePrettyNames: true *@
@{
    Layout = MVC.Shared.Views.SiteLayout.Public._PublicLayout;
    ViewBag.Title = Admin.FrequentlyAskedQuestions;
}
<div class="section-wrap">
    <div class="section overflowable">
        <div class="headline pages-headline simple primary">
            <h1>
                <i class="fa fa-question-circle"></i> 
                @Admin.FrequentlyAskedQuestions
            </h1>
        </div>
        <div class="pages-container">
            <div class="pages-cont-wrap">
                <div class="pages-conts">
                    <p class="faq-title">1- نحوه ثبت‌نام در نویناک و ویرایش آن چگونه است؟</p>
                    <p class="faq-p">شما کاربر عزیز می‌توانید به‌راحتی با ورود به سامانه و در قسمت بالا سمت چپ، <span class="page-red">برای دستگاه‌های لپتاپ و مانیتور</span> انتخاب گزینه «ثبت‌نام در سامانه» و نیز برای <span class="page-red">دستگاه‌هایی با نمایشگر کوچکتر</span> (مانند آیپد، تبلت، موبایل و تلفن همراه و ...) کلیک بر روی آیکن قرمز رنگ و سپس انتخاب گزینه «ثبت‌نام در سامانه» وارد صفحه ثبت نام شده و با وارد نمودن ایمیل و گذرواژه خود، لینک فعال‌سازی حساب کاربری‌تان را در صندوق پیام‌های ایمیل خود دریافت نموده و سپس وارد جساب کاربری‌تان شوید.</p>
                    <p class="faq-p">درصورتی‌که بخواهید اطلاعات کاربری‌تان را ویرایش نموده و یا تکمیل نمایید، از طریق کلیک بر روی نشانی ایمیل (و یا نام خود) که برای دستگاه‌های با نمایشگر بزرگ در سربرگ سایت و برای دستگاه‌های با نمایش‌گر کوچکتر در قسمت بالا سمت چپ و کلیک بر روی آیکن قرمز رنگ حساب کاربری و در بالای منوی باز شونده آن تدارک دیده شده‌است، وارد حساب کاربری‌تان شده و در منوهای سمت راست پنل خود، از منوی <span class="page-red">تنظیمات</span>، زیرمنوی <span class="page-red">حساب کاربری</span> را انتخاب نمایید. در این صفحه شما می‌توانید اطلاعات خود را وارد نموده و سپس بر روی دکمه «ذخیره» در بالای فرم کلیک نمایید تا اطلاعات شما ثبت شوند. دقت نمایید که وارد نمودن نام و نام خانوادگی الزامی می‌باشند.</p>
                    <p class="faq-p">تکمیل این اطلاعات، ما در ارائه خدمات هرچه بهتر به شما یاری می‌نماید.</p>
                    <p class="faq-title">2- در نویناک ثبت‌نام کرده‌ام، اما گذرواژه (کلمه عبور) خود را فراموش نموده‌ام و با وجود آنکه درخواست ارسال گذرواژه (رمز عبور) را فرستاده‌ام، اما هیچ گذرواژه و رمزی برایم فرستاده نشده‌است. علت چیست؟</p>
                    <p class="faq-p">ذکر دو نکته در این رابطه را واجب می‌دانیم. <span class="page-blue">ابتدا</span> آنکه سامانه نویناک به جهت تعهدی که نسبت به حفظ اطلاعات و نیز حریم خصوصی کاربران خود دارد، هیچگونه رمز و گذرواژه‌ای را در بانک اطلاعاتی خود نگهداری ننموده و لذا شخص دیگری غیر از شما، <span class="page-red">حتی سامانه نویناک</span> نیز آن را دراختیار نداشته و تنها ایمیلی حاوی لینک تغییر گذرواژه را برای شما ارسال می‌نماید. <span class="page-blue">دوم</span> آنکه به در صورت بروز مشکل یاد شده، صندوق هرزنامه ایمیل خود (Spam) را بازبینی نمایید، احتمالا این ایمیل را در آن‌جا خواهید یافت!</p>
                    <p class="faq-title">3- من هنوز در نویناک ثبت‌نام نکرده‌ام. چگونه می‌توانم کالای مورد علاقه‌ام را در نویناک خریداری نمایم؟</p>
                    <p class="faq-p">بدین منظور شما می‌بایست ابتدا در سامانه ثبت‌نام نموده و پس از آن و با ورود به حساب کاربری خود، خواهید توانست کالای مورد علاقه‌تان را به سبد خریدتان اضافه نمایید!</p>
                    <p class="faq-title">4- من کالای مورد علاقه‌ام را در نویناک پیدا کرده‌ام، اما وضعیت آن ناموجود است. آیا امکان سفارش آن وجود دارد یا خیر؟</p>
                    <p class="faq-p">خیر؛ در حال حاضر شما تنها می‌توانید کالاهای موجود را خریداری نمایید.</p>
                    <p class="faq-title">5- آیا می‌توانم برای شخص دیگری خریدی انجام دهم؟</p>
                    <p class="faq-p">بله؛ چنانچه شما قبلا در نویناک ثبت‌نام نموده باشید، می‌توانید با اضافه نمودن کالای مورد نظر خود به سبد خرید، نام شخص تحویل گیرنده را وارد نموده و نشانی او را وارد نمایید تا نویناک آن را به مکان و دلخواه و برای شخص مورد نظر شما ارسال نماید.</p>
                    <p class="faq-title">6- در چه زمان‌هایی می‌توانم از نویناک خرید کنم؟</p>
                    <p class="faq-p">به منظور ارائه خدمات هرچه بیشتر و بهتر به مشتریان عزیز، شما می‌توانید هفت روز هفته و در طول 24 ساعت شبانه روز خرید خود را انجام دهید.</p>
                    <p class="faq-title">7- چه تعداد از یک کالا را می‌توانم از نویناک خریداری نمایم؟</p>
                    <p class="faq-p">در حال حاضر محدودیتی برای خرید شما وجود ندارد.</p>
                    <p class="faq-title">8- آیا می‌توانم خرید خود را به‌صورت تلفنی ثبت کنم؟</p>
                    <p class="faq-p">خیر؛ به دلیل آنکه مجموعه نویناک تصمیم دارد محصولات خود را با کمترین میزان خطا در ثبت و در اسرع وقت به‌دست مشتریان برساند، تنها راه آن سفارش به‌صورت اینترنتی می‌باشد.</p>
                    <p class="faq-title">9- از چه راه‌هایی می‌توانم بهای کالایی که خریداری نموده‌ام را پرداخت نمایم؟</p>
                    <p class="faq-p">مشتریان عزیز می‌توانند هنگام سفارش، یکی از گزینه‌های <span class="page-blue">«پرداخت آنلاین»</span> و اتصال به درگاه پرداخت آنلاین، <span class="page-blue">«تحویل در محل»</span>، «<span class="page-blue">واریز کارت به کارت»</span> و یا <span class="page-blue">«خرید از طریق اعتبار درون سامانه»</span> را انتخاب نموده و از آن طریق اقدام به پرداخت وجه و نهایی کردن خرید خود بپردازند.</p>
                    <p class="faq-title">10- مقدار هزینه ارسال کالای خریداری‌شده چگونه محاسبه می‌شود؟</p>
                    <p class="faq-p">بسته به آنکه مشتری در چه شرایطی سفارش خود را ثبت نموده یا در چه مکانی آن را تحویل بگیرد، این میزان متفاوت بوده و جهت آگاهی از مقدار هزینه ارسال، می‌توانید با افزودن آن به سبد خرید خود و پس از تکمیل فرایند خرید، این هزینه را در <span class="page-blue">پیش‌فاکتور</span> خود مشاهده نمایید.</p>
                    <p class="faq-title">11- اگر کالایی که خریداری کرده‌ام با مشخصات آن در صفحه فروشگاه مطابقت نداشته و آن را مرجوع نموده باشم، هزینه بازگشت آن برعهده چه کسی می‌باشد؟</p>
                    <p class="faq-p">چنانچه پس از بررسی تیم کارشناسی نویناک این مسئله تأیید شود، هزینه بازگشت کالا بر عهده نویناک می‌باشد.</p>
                    <p class="faq-title">12- چنانچه کالایی را مرجوع کنم و مورد تأیید کارشناسان نویناک قرار گیرد، تکلیف وجه پرداختی من چیست؟</p>
                    <p class="faq-p">در این‌صورت، کالای مرجوعی به فروشنده بازگشت داده‌شده و درصورت امکان و توافق شما، کالای درخواستی تعویض شده و در غیر این‌صورت، هزینه پرداختی به شما بازگشت داده خواهد شد.</p>
                    <p class="faq-title">13- آیا امکان خرید به‌صورت اقساط و یا چک وجود دارد؟</p>
                    <p class="faq-p">خیر؛ نویناک به منظور پیشگیری از هرگونه مشکل، در این راستا تنها این امکان را به خریدار می‌دهد که به‌صورت آنلاین و یا به‌صورت پرداخت نقدی و در محل، واریز کارت به کارت یا خرید از طریق اعتبار درون سامانه وجه مورد نظر را بپردازد.</p>
                    <p class="faq-title">14- هنگام خرید کالا، پرداخت اینترنتی متوقف شده و از حساب من مبلغ سبد خرید کسر شده است. تکلیف چیست؟</p>
                    <p class="faq-p">در چنین شرایطی ایمیل خود را بررسی نموده و درصورتی‌که فاکتور خرید برای شما ارسال شده باشد، عملیات خرید با موفقیت انجام شده است و در غیر ایتصورت، مبلغ کسر شده نهایتا ظرف 72 ساعت و توسط بانک رابط به حساب شما بازگشت داده خواهد شد.</p>
                    <p class="faq-title">15- آیا این امکان وجود دارد که کالای خریداری شده‌ام را درب شرکت تحویل بگیرم؟</p>
                    <p class="faq-p">خیر؛ امکان دریافت حضوری کالا درب شرکت به هیچ وجه وجود نخواهد داشت.</p>
                </div>
            </div>
        </div>
    </div>
</div>