@* Generator: MvcView GeneratePrettyNames: true *@
@{
    Layout = MVC.Shared.Views._PublicLayout;
    ViewBag.Title = Admin.HowToJoinUs;
}
<div class="section-wrap">
    <div class="section overflowable">
        <div class="headline pages-headline simple primary">
            <h1>
                <i class="fa fa-user-plus"></i> 
                @Admin.HowToJoinUs
            </h1>
        </div>
        <div class="pages-container">
            <div class="pages-cont-wrap">
                <div class="pages-conts">
                    <p class="join-p">ما براین باوریم که بهترین و موثرترین سرمایه گذاری،سرمایه گذاری روی نیروی کار جوان،مورد اعتماد و با انگیزه است.</p>
                    <p class="join-p">هسته و شاکله اصلی نویناک زمانی ایجاد شد که چند جوان با انگیزه دور هم جمع شدند و با تلاش شبانه روزی و با اعتماد متقابل نسبت به یکدیگر، ساختار پروژه بزرگ نویناک را پایه ریزی نمودند.</p>
                    <p class="join-p">اعتقاد ما بر این است که نیروی انسانی،حجم زیادی از زمان خود را در محل کار سپری می کند بنابراین کیفیت محل کار،تاثیر فراوانی بر کیفیت زندگی کارمندان دارد. لذا خود را موظف می دانیم،فضایی شاد و مفرح و به دور از حواشی،برای نیروی انسانی خود فراهم آوریم.کارمند نویناک باید تا حد معقولی از لحاظ مالی ودیگر نیاز های اساسی زندگی،به خوبی تامین شود. در نهایت همه سیاست ها و تلاشهای تیم مدیریت نویناک در خصوص این موضوع حول محور یک هدف مشخص می چرخد؛محیط کاری،روابط،حقوق و مزایا و... در شرکت باید به گونه ای باشد که نیروی انسانی،کار در نویناک را به کار در هر شرکت یا محیط دیگر ترجیح دهد و نویناک را خانه دوم خود بداند. از طرفی در مقابل فراهم آوردن این شرایط خوب،که خود را متعهد به ایجاد آن نموده ایم،انتظاراتی نیز داریم:</p>
                    <p class="join-title">خط کش گذاشتن ممنوع!</p>
                    <p class="join-p">کارمند باید با تمام توان خود برای اهداف شرکت تلاش کرده و حداکثر بازدهی را از خود نشان دهد.جملاتی مانند «این کار به من مربوط نیست» یا «به همان اندازه که پول می گیرم کار میکنم» و... در این شرکت،به هیچ عنوان قابل قبول نیست.</p>
                    <p class="join-title">بی نظمی و شلخته بودن ممنوع!</p>
                    <p class="join-p">نظم اولین شرط لازم برای موفقیت هر مجموعه ای است،لذا انتظار داریم که افراد با ظاهری آراسته و لباسهای مرتب،رأس ساعت شروع به کار،در محل انجام وظیفه حاضر باشند.</p>
                    <p class="join-title">ابتکار و خلاقیت،لازمه ی کار!</p>
                    <p class="join-p">شاخص اساسی یک سایت و شرکت نرم افزاری موفق،ابتکار و خلاقیت در کار است.مجموعه ی نویناک با چند ایده ی ساده و خلاقانه کار خود را شروع نموده وبا همین ایده ها پایه ریزی شد.قصد داریم در این مجموعه،کار خلاق  و نو آورانه را جایگزین کار های روتین و خسته کننده کنیم.لذا از ایده های نو و جذاب در همه ی زمینه های کاری استقبال می کنیم و انتظار داریم که افراد از تمام توان و هوش و ذکاوت خود برای نیل به این هدف بزرگ استفاده کنند.</p>
                    <p class="join-p">از همه ی کاربران عزیز خواهشمندیم که متن بالا را به دقت مطالعه نمایید ودر صورت تمایل به همکاری در زمینه های زیر،رزومه ی تحصیلی و کاری خود را به آدرس زیر ایمیل کنید.</p>
                    <p class="contact-info"><i class="fa fa-envelope-square"></i> info@novinak.com</p>
                    <br>
                    <p class="join-talent"><i class="fa fa-check"></i> برنامه‌نویس و توسعه‌دهنده مسلط به .NET</p>
                    <p class="join-talent"><i class="fa fa-check"></i> گرافیست UI و UX کار مسلط بر فتوشاپ و کورل</p>
                    <p class="join-talent"><i class="fa fa-check"></i> اپراتور</p>
                    <p class="join-talent"><i class="fa fa-check"></i> بازاریاب</p>
                    <p class="join-talent"><i class="fa fa-check"></i> تولیدکننده محتوا یا برنامه‌نویس</p>
                    <p class="join-talent"><i class="fa fa-check"></i> طراح روابط کاربری</p>
                    <p class="join-talent"><i class="fa fa-check"></i> برنامه‌نویس اندروید و IOS</p>
                    <p class="join-talent"><i class="fa fa-check"></i> کارشناس فروش</p>
                    <p class="join-talent"><i class="fa fa-check"></i> کارشناس روابط عمومی</p>
                    <p class="join-talent"><i class="fa fa-check"></i> متخصص شبکه‌های اجتماعی</p>
                </div>
            </div>
        </div>
    </div>
</div>