@* Generator: MvcView GeneratePrettyNames: true *@
@{
    Layout = MVC.Shared.Views._PublicLayout;
    ViewBag.Title = Admin.RulesAndRegulations;
}
<div class="section-wrap">
    <div class="section overflowable">
        <div class="headline pages-headline simple primary">
            <h1>
                <i class="fa fa-gavel"></i> 
                @Admin.RulesAndRegulations
            </h1>
        </div>
        <div class="pages-container">
            <div class="pages-cont-wrap">
                <div class="pages-conts">
                    <p class="rule-p">در این بخش ما شما را با قوانین مجموعه نویناک آشنا می‌کنیم تا بتوانیم در شرایط و بستری مناسب معاملات خود را انجام دهیم. مجموعه قوانینی که ما برای مجموعه نویناک پیش‌بینی و تنظیم نموده‌ایم، در دو دسته که شامل <span class="page-red">«مشتریان»</span> و <span class="page-red">«صاحبان کسب و کار»</span> می‌شود گردآوری شده‌اند و لذا در ابتدا نیاز می‌دانیم تا نعریف خود را از این دو دسته ارائه نماییم:</p>
                    <p class="rule-p"><span class="page-red">1- مشتری:</span> هر شخصی که اطلاعات کاربری خود را نویناک ثبت کرده و اقدام به انجام یک معامله نموده باشد.</p>
                    <p class="rule-p"><span class="page-red">2- صاحب کسب و کار:</span> شامل هر شخص حقیقی یا مجموعه حقوقی که کالایی مجاز و غیر قاچاق یا محصولی تولید داخل را برای فروش عرضه نموده و یا خدمتی برای ارائه و انجام داشته باشد.</p>
                    <p class="rule-title">قوانین مربوط به صاحبان کسب و کار:</p>
                    <p class="rule-p">با توجه به تعریف بالا و نیز به‌منظور جلوگیری و پیش‌بینی هرگونه سوء رفتار در رابطه با فروش کالا و نیز مسئولیت‌پذیری فروشنده و احترام به حقوق خریدار، نویناک در ازای صفحات رسمی (official) به فروشندگان، مدارک و اعتبار ایشان را اخذ نموده تا بدین وسیله برای مشتریان و بازدیدکنندگان صفحه ایشان در نویناک، نوعی اعتماد صورت گیرد. و اما قوانینی که فروشنده در نویناک ملزم به رعایت آن‌ها می‌باشد، عبارتند از:</p>
                    <p class="rule-p"><span class="page-red">تذکر:</span> درنهایت نویناک اختیار دارد که نام انتخابی را تأیید یا رد نماید.</p>
                    <p class="rule-p">2- صاحبان کسب و کار می‌بایست اطلاعات خود را واقعی (و نه به‌صورت مستعار) ارائه نمایند تا هنگام ارائه مدارک مشکلی حهت تأیید مدارک وجود نداشته باشد.</p>
                    <p class="rule-p">3- خدمات و کالاهایی که هر شرکت یا فروشگاه ارائه می‌نمایند شامل عکس، ویدیو و محتوای متنی و یا هرگونه فایل دیگری نباید حاوی مسائل خلاف شرع و قوانین و مقررات نظام جمهور اسلامی ایران، خلاف عرف و اخلاق جامعه بوده و یا توهین‌آمیز تلقی گردند.</p>
                    <p class="rule-p"><span class="page-red">تذکر:</span> نویناک مجاز می‌باشد تا در ابتدا کالا و خدمات مورد ارائه را بررسی نموده و سپس آن‌ها را تأیید و یا رد نماید.</p>
                    <p class="rule-p">4- صاحب کسب و کار می‌بایست اطلاعات دقیق، معتبر و مطابق واقع را راجع به خدمت و کالای خود ارائه نماید و در غیر این‌صورت چنانچه جنس فروخته شده به خریدار مطابق با اطلاعات مندرج در نویناک نباشد، عواقب بازگشت کالا و هزینه‌های جاری آن برعهده فروشنده می‌باشد (فروشنده موظف است نسبت به تأمین کالای مذکور اقدام نماید).</p>
                    <p class="rule-p">5- فروشنده کالا می‌بایست از کالای خود حداقل یک عدد عکس در سامانه قرار دهد و درغیر ای‌صورت آن کالا تأیید نخواهد شد.</p>
                    <p class="rule-p">6- کاربران عادی و صاحبان کسب و کار می‌بایست نسبت ابراز عقیده دیگران برخورد مؤدبانه و محترمانه داشته باشند.</p>
                    <p class="rule-p">7- صاحبان کسب و کار موظف‌اند تا هر زمان که تغییری در نشانی، شماره تماس و یا شماره حساب‌شان ایجاد گردید، آن را به اطلاع تیم نویناک برسانند تا مسکلی در روند و انجام معاملات یا خدمات نویناک به ایشان پیش نیاید.</p>
                    <p class="rule-title">قوانین مربوط به مشتریان:</p>
                    <p class="rule-p">1- چنانچه کاربر کالایی را خریداری نموده و آن کالا با مشخصات مندرج در صفحه فروشگاه مطابقت نداشته باشد، خریدار می‌تواند کالای مورد نظر را ظرف 7 روز از تاریخ تحویل کالا به ایشان، مرجوع نماید و در ضمن فروشنده نیز موظف به تأمین کالای اصلی و مطابق با مشخصات بیان شده در صفحه خود می‌باشد.</p>
                    <p class="rule-p">2- خریدار می‌بایست در «تکمیل فرایند خرید» خود، نشانی دقیق و نیز نام شخص تحویل گیرنده کالا را به‌صورت دقیق وارد نماید تا مشکلی در فرایند ارسال کالا ایجاد نشود.</p>
                    <p class="rule-title">حفظ حریم شخصی:</p>
                    <p class="rule-p">مجموعه نویناک در راستای صیانت و احترام به حریم شخصی افراد، سیاست‌های زیادی را در راستای برآورده‌سازی رضایت و اعتماد کاربران خود به کار بسته است.</p>
                    <p class="rule-p">بهتر است بدانبد که نویناک چگونه اطلاعاتی را جمع‌آوری و استفاده می‌نماید! هنگام ثبت‌نام و پیویستن به نویناک، اطلاعاتی نظیر نام، نام خانوادگی، اطلاعات تماس، شماره حساب یا کارت بانکی و اطلاعاتی از این قبیل را در صورت تمایل در اختیار ما قرار می‌دهید تا ما نیز بتوانیم شما را در استفاده یا خریدی مناسب همراهی نماییم که این اطلاعات شما نزد ما به امانت حفظ خواهد گردید.</p>
                    <p class="rule-p">این اطلاعات تحت هیچ شرایطی فاش نخواهند شد، مگر به درخواست مراجع و مقامات قضایی و در راستای پیگیری اموری مانند کلاهبرداری، حقوقی و جنایی.</p>
                </div>
            </div>
        </div>
    </div>
</div>