@* Generator: MvcView GeneratePrettyNames: true *@
@model Advertise.Core.Models.Company.CompanyListViewModel
<div class="product-list grid column4-wrap">
    @Html.Partial(MVC.Company.Views._ListMore, Model)
</div>