@* Generator: MvcView GeneratePrettyNames: true *@
@model Advertise.Core.Models.Product.ProductListViewModel
<div class="product-list grid column4-wrap">
    @Html.Partial(MVC.Product.Views._ListMore, Model)
</div>