@* Generator: MvcView GeneratePrettyNames: true *@
@model Advertise.Core.Models.CompanySocial.CompanySocialViewModel
<div class="post-content">
    <div class="post-paragraph">
        <h3 class="post-title">
            <i class="fa fa-check-circle-o"></i>
        </h3>
        <p>
            @Model.CompanyTitle
        </p>
    </div>
    <div class="clearfix"></div>
</div>